<div class="small-card">
  <div class="small-card-icon">
    <i class="fas fa-cog"></i>
  </div>
  <div class="small-card-title">
    <p>Título do Card</p>
  </div>
  <div class="small-card-stats">
    <div class="stat-item">
      <p class="stat-title">Cliente</p>
      <p class="stat-value">Nome do Cliente</p>
    </div>
    <div class="stat-item">
      <p class="stat-title">Carro</p>
      <p class="stat-value">Modelo do Carro</p>
    </div>
    <div class="stat-item">
      <p class="stat-title">Status</p>
      <p class="stat-value">Andamento do Pedido</p>
    </div>
  </div>
  <div class="small-card-view">
    <p>Visualizar pedido</p>
  </div>
</div>
