<div class="modal-container">
  <div class="modal-title">
    <h2><i class="fas fa-arrow-left"></i> Adicionar Serviço</h2>
  </div>

  <div class="modal-data">
    <div>
      <h3>Descrição do Serviço</h3>
      <p>{{ data?.observacao }}</p>
    </div>

    <div class="modal-under-data">
      <span>
        <h2>Quantidade</h2>
        <p>{{ data?.carroModelo }}</p>
      </span>
      <span>
        <h2>Valor Unitário</h2>
        <p> {{ data?.clienteNome }}</p>
      </span>
    </div>
  </div>

  <div class="modal-actions">
    <button class="btn-cancel" (click)="onCancel()">Cancelar</button>
    <button class="btn-confirm" mat-button (click)="onSave()">Confirmar</button>
  </div>
</div>
