<div class="menu-bar-container">
  <div class="menu-bar-menu">
    <i class="fas fa-bars"></i> Menu
  </div>
  <div class="menu-bar-img">
    <img src="assets/softcar2.png" alt="logo">
  </div>
  <div class="menu-bar-config">
    <div class="dropdown">
      <button class="dropbtn">
        <span class="username">Nome do Usuário</span>
        <span class="icon-profile">
          <img src="/assets/user2.png" alt="Ícone de Perfil" />
        </span>
      </button>
      <div class="dropdown-content">
        <a href="#">Editar perfil</a>
        <a href="#">
          Sair <i class="fas fa-door-open"></i>
        </a>
      </div>
    </div>
  </div>
</div>

