.menu-bar-container {
  width: 1366px;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #D6D6D6;
  background-color: #2A2F67;

  opacity: 1;
}

.menu-bar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 25px;
  padding: 8px;
  gap: 8px;
  opacity: 1;
  border: 2px solid #FFFFFF;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  background-color: transparent;
  color: #FFFFFF;
  border-radius: 8px;
  margin-left: 50px;

}

.menu-bar-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  margin-bottom: 10px;
}

.menu-bar-img img {
  width: 85.7px;
  height: 48px;
  margin-top: 10px; /* Este valor pode ser ajustado se necessário */
}

.menu-bar-config{
  margin-right: 50px;
  width: 149px;
  height: 29px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: space-between;


}

.menu-bar-config span{
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 27px;
  text-align: right;
  color: #FFFFFF;

}
