<div class="menu-side-container">
  <ul class="menu-itens" id="nav">
    <li><a href="dashboard"><i class="fas fa-home"></i> Início</a></li>
    <li>
      <a href="clients"><span class="material-icons">account_circle</span> Clientes</a>
      <ul class="submenu">
        <li><a href="clients-register">cadastrar Cliente</a></li>
      </ul>
    </li>
    <li>
      <a href="dashboard"><i class="fas fa-shopping-cart"></i> Pedidos</a>
      <ul class="submenu">
        <li><a href="dashboard">Visualizar Pedidos</a></li>
        <li><a href="order-register">Cadastrar pedido</a></li>
      </ul>
    </li>
    <li><a href="#"><i class="fas fa-book-open"></i> Orçamentos</a></li>
  </ul>
  <div class="footer-menu">
    <p>© 2024 Soft Car</p>
  </div>
</div>
